body{
    margin: 0;
}

.heading{
    background-color: slateblue;
    margin: 0;
    height: 100px;
    width: 100%;
    position: relative;
    top: 0;
    right: 0;
}

.heading h1{
    text-align: center;
}

.container{
    position: relative;
    clear: both;
    margin: 20px;
    padding: 5px;
}
