<div class="heading m-0 row">
    <h1 class="col-sm-10 text-light">Frond End Test</h1>
</div>
<div class="container">
    <div class="row card card-body">
        <form class="g-3">
            <div class="col-md-6">
            <label for="inputFirst" class="form-label">First Name</label>
            <input type="text" class="form-control" id="inputFirst" placeholder="Enter First Name">
            </div>
            <div class="col-md-6">
            <label for="inputLast" class="form-label">Last Name</label>
            <input type="text" class="form-control" id="inputLast" placeholder="Enter Last Name">
            </div>
            <div class="col-md-12">
            <label for="inputAvatarLink" class="form-label">Avatar URL</label>
            <input type="AvatarLink" class="form-control" id="inputAvatarLink" placeholder="Enter Avatar URL">
            </div>
            <div class="col-12">
            <button type="submit" class="btn btn-dark">Update</button>
            </div>
        </form>
</div>
</div>